extends layouts/main.pug

block content
    .form-container
        form(action=`/users${routes.changePassword}`, method="post")
            .fileUpload
                input(type="password", placeholder="current password", name="oldPassword", required="true")
                input(type="password", placeholder="new password", name="newPassword", required="true")
                input(type="password", placeholder="verify new password", name="newPassword1", required="true")
                input(type="submit", value="Change Password")