extends layouts/main.pug
include mixins/videoBlock.pug
block content
    h1 2020.6.15 ~
    ol
        li 만든 목적
            | 
            span nodejs 공부용으로 만들었다.
        li 만든 기능
            |
            span  video에 대한 CRUD
        li 만든 사람
            |
            span
                a(href="https://github.com/onaeonae1")  onaeonae1
