.videoBlock {
  width: 480px;
  height: 360px;
  video {
    margin-bottom: 10px;
    max-width: 480px;
    max-height: 270px;
  }
  .videoBlock__title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }
}
