.home-videos,
.search_videos {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  grid-gap: 30px;
  .videoBlock:nth-child(2n) {
    grid-column: span 2;
  }
  .videoBlock:nth-child(2n + 1) {
    grid-column: span 3;
  }
}
.search_header {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
}
